@font-face {font-family: "Pretendard"; font-weight: 400; src: url(https://nrjxanl.github.io/boin207/files/Pretendard-Regular.woff2);}
@font-face {font-family: "Pretendard"; font-weight: 700; src: url(https://nrjxanl.github.io/sefcinfo/files/Pretendard-Bold.woff2);}
@font-face {font-family: "Pretendard"; font-weight: 900; src: url(https://nrjxanl.github.io/boin207/files/Pretendard-Black.woff2);}

* {font-family: 'Pretendard'; font-weight: 900; text-decoration: none; color: #000; -webkit-tap-highlight-color: #000; margin: 0; padding: 0;}

body {background: #fff; height: calc(var(--var, 1vh) * 100); overflow: hidden;}

p.liveClock {width: 97vw; height: 6vw; font-size: 5vw; text-align: left; padding: 3vw 0 3vw 3vw; background: #fff; z-index: 13;}

.cal {background: #fff; -ms-overflow-style: none; width: 100vw; height: calc(var(--var, 1vh) * 45); text-align: center; white-space: nowrap; overflow-x: hidden; overflow-y: hidden;}

    table.cal {width: 100vw; height: calc(var(--var, 1vh) * 45); text-align: left; background: #fff;}
        
        thead {vertical-align: middle;}
            tr.monthInfo {text-align: center; height: calc(var(--var, 1vh) * 5);}
                td.prev {font-size: 7vw; padding-left: 5vw;}
                td.month {font-size: 4vw;}
                td.next {font-size: 7vw; padding-right: 5vw;}
            tr.dotw {vertical-align: middle; height: calc(var(--var, 1vh) * 5);}
                tr.dotw td {font-size: 4vw; text-align: center; font-weight: 400;}
                tr.dotw td:nth-child(1) {padding-left: 5vw;}
                tr.dotw td:nth-child(7) {padding-right: 5vw;}
        
        tbody {vertical-align: top; font-size: 5vw;}
            tr.date {text-align: center; height: calc(var(--var, 1vh) * 35 / 5);}
                tr.date td {font-weight: 400; width: calc(90vw/7); border-radius: 10px;}
                    tr.date td:active {background: #00000010;}
                    tr.date td:nth-child(1) {color: #ff0000; padding-left: 5vw;}
                    tr.date td:nth-child(7) {color: #0072de; padding-right: 5vw;}
                td.prevMonth, td.nextMonth {opacity: 30%;}
    
                #apr tbody tr, #jul tbody tr, #dec tbody tr {height: calc(var(--var, 1vh) * 35 / 6);}
    
                .red, .blue, .gray {width: 2vw; height: 1.9vw; border-radius: 100%; display: inline-block; margin-bottom: 2vw;}
                .red {background: #ff0000;}
                .blue {background: #0072de;}
                .gray {background: #808080;}
     
    span.info {font-size: 2vw; left: 0; top: calc(var(--var, 1vh) * 45); position: absolute; height: calc(var(--var, 1vh) * 5); background: #fff; width: 100vw;}
        p.info {display: inline-block; font-weight: 400;}

.schedule {width: 100vw; height: calc(var(--var, 1vh) * 50); position: absolute; top: calc(var(--var, 1vh) * 50); overflow: scroll;}
    .skd {width: 100vw; height: 30vw; background: none; display: flex; margin-bottom: -10vw;}
        .skdDate {width: 20vw; text-align: center; display: flex; flex-direction: column; padding-left: 5vw; padding-bottom: 5vw; font-size: 10vw;}
            span.skdDateMonth {opacity: 70%; font-size: 2vw; margin: .5vw 0 -1.5vw 0;}
            .schedTest {width: 55vw; height: min-content; padding: 4vw 5vw; text-align: justify; background: #ff0000; color: #fff; font-weight: 700; border-radius: 10px; font-size: 4vw; word-break: keep-all; white-space: normal; line-height: 1.4;}
            .schedEval {width: 55vw; height: min-content; padding: 4vw 5vw; text-align: justify; background: #0072de; color: #fff; font-weight: 700; border-radius: 10px; font-size: 4vw; word-break: keep-all; white-space: normal; line-height: 1.4;}
            .schedEtc {width: 55vw; height: min-content; padding: 4vw 5vw; text-align: justify; background: #aaaaaa; color: #fff; font-weight: 700; border-radius: 10px; font-size: 4vw; word-break: keep-all; white-space: normal; line-height: 1.4;}