* {text-align: center; margin: 0; padding: 0; border-spacing: 0;}

@media (max-width: 425px) {

    * {font-size: 16px;}

    table {width: 80vw; margin: 5vh 0 0 10vw; position: sticky; top: 5vh; background: #fff;}
    tr {height: 8vh;}
    th {font-size: 20px;}
    td {width: calc(80vw / 7); border-radius: 3vw;}
    tr:nth-child(n+1) > td:nth-child(1) {color: #f00;}
    tr:nth-child(n+1) > td:nth-child(7) {color: #00f;}
    td > p {font-size: 14px; border-radius: 50%; width: 5vw; height: 5vw; margin: .5vh 0 0 calc(((80vw / 7) - 5vw) / 2); color: #fff; display: flex; align-items: center; justify-content: center; font-weight: bold;}

    #toToday > div {width: calc((80vw / 7) - 4vw); height: calc((80vw / 7) - 4vw); margin: 2vw; box-shadow: 0 0 0 2px #000 inset; border-radius: 2vw; display: flex; justify-content: center; align-items: center;}

    #bg {display: none; width: 100vw; height: 100vh; overflow: hidden; position: fixed; top: 0; left: 0; background: #a3a3a3; opacity: .9;}
    #sched {width: 80vw; display: none; background: #fff; border-radius: 7vw; position: fixed; left: 10vw; z-index: 100; overflow: scroll;}
    #date {font-size: 30px; margin: 5vh 0 0 5vh; text-align: left; font-weight: bold;}
    #event {font-size: 20px; margin: 2vh 0 0 5vh; text-align: left; line-height: 1.6;}
    #timetable > p {text-align: left; margin: 2vh 0 5vh 5vh; line-height: 1.6; font-size: 20px;}
    #timetable > p > span:nth-of-type(2n-1) {font-size: 20px; font-weight: bold; display: inline-block; width: 15vw; margin: 0 2vw 0 -2vw;}
    #timetable > p > span:nth-of-type(2n) {margin-left: 2vw; font-size: 20px; opacity: .6;}

    #todaySchedule {width: 80vw; margin-left: 10vw;}
    #todaySchedule > p:nth-of-type(1) {text-align: left; font-size: 24px; font-weight: bold; margin-bottom: 1vh;}
    #todaySchedule > p:nth-of-type(1) > span {margin-left: 2vw; font-size: 16px;}
    #todaySchedule > p:nth-of-type(2) {text-align: left; font-size: 20px; line-height: 1.6;}

}